spring:
  application:
    name: pw-parking-permit
  security:
    oauth2:
      client:
        provider:
          casedata:
            token-uri: ${config.casedata.token-uri}
          templating:
            token-uri: ${config.templating.token-uri}
          messaging:
            token-uri: ${config.messaging.token-uri}
          citizen:
            token-uri: ${config.citizen.token-uri}
          businessrules:
            token-uri: ${config.businessrules.token-uri}
          rpa:
            token-uri: ${config.rpa.token-uri}
          partyassets:
            token-uri: ${config.partyassets.token-uri}
          support-management:
            token-uri: ${config.support-management.token-uri}
        registration:
          casedata:
            authorization-grant-type: client_credentials
            provider: casedata
            client-id: ${config.casedata.client-id}
            client-secret: ${config.casedata.client-secret}
          templating:
            authorization-grant-type: client_credentials
            provider: templating
            client-id: ${config.templating.client-id}
            client-secret: ${config.templating.client-secret}
          messaging:
            authorization-grant-type: client_credentials
            provider: messaging
            client-id: ${config.messaging.client-id}
            client-secret: ${config.messaging.client-secret}
          citizen:
            authorization-grant-type: client_credentials
            provider: citizen
            client-id: ${config.citizen.client-id}
            client-secret: ${config.citizen.client-secret}
          businessrules:
            authorization-grant-type: client_credentials
            provider: businessrules
            client-id: ${config.businessrules.client-id}
            client-secret: ${config.businessrules.client-secret}
          rpa:
            authorization-grant-type: client_credentials
            provider: rpa
            scope: OR.Queues, OR.Queues.Read, OR.Queues.Write
            client-id: ${config.rpa.client-id}
            client-secret: ${config.rpa.client-secret}
          partyassets:
            authorization-grant-type: client_credentials
            provider: partyassets
            client-id: ${config.partyassets.client-id}
            client-secret: ${config.partyassets.client-secret}
          support-management:
            authorization-grant-type: client_credentials
            provider: support-management
            client-id: ${config.support-management.client-id}
            client-secret: ${config.support-management.client-secret}

#----------------------------------------
# Open API
#----------------------------------------
openapi:
  name: ${spring.application.name}
  title: ${spring.application.name}
  version: '@project.version@'

#-------------------------------------------
# Log config
#-------------------------------------------
logging:
  level:
    root: INFO
logbook:
  body-filters:
    json-path:
      - key: '$..attachments[*].file'
        value: '[base64]'

#----------------------------------------
# Camunda
#----------------------------------------
camunda:
  bpm:
    client:
      base-url: ${config.camunda.base-url}
      backoff:
        initTime: 500
        factor: 2
        maxTime: 15000
    deployment:
      processes:
        - name: Parking permit process
          tenant: PARKING_PERMIT
          bpmnResourcePattern: classpath*:processmodels/*.bpmn
          dmnResourcePattern: classpath*:processmodels/*.dmn
          formResourcePattern: classpath*:processmodels/*.form
  worker:
    max:
      retries: 3
    retry:
      timeout: 10

#----------------------------------------
# Integration settings
#----------------------------------------
# Rest client
integration:
  camunda:
    connectTimeout: 5
    readTimeout: 20
    url: ${config.camunda.base-url}
  casedata:
    connectTimeout: 5
    readTimeout: 20
    url: ${config.casedata.base-url}
  templating:
    connectTimeout: 5
    readTimeout: 20
    url: ${config.templating.base-url}
  messaging:
    connectTimeout: 5
    readTimeout: 20
    url: ${config.messaging.base-url}
  citizen:
    connectTimeout: 5
    readTimeout: 20
    url: ${config.citizen.base-url}
  businessrules:
    connectTimeout: 5
    readTimeout: 20
    url: ${config.businessrules.base-url}
  rpa:
    connectTimeout: 10
    readTimeout: 20
    identityServerUrl: ${config.rpa.identity-server-url}
    url: ${config.rpa.base-url}
  partyassets:
    url: ${config.partyassets.base-url}
    connectTimeout: 5
    readTimeout: 20
  support-management:
    url: ${config.support-management.base-url}
    connectTimeout: 5
    readTimeout: 20


#----------------------------------------
# Circuit breakers
#----------------------------------------
resilience4j.circuitbreaker:
  instances:
    camunda:
      ignoreExceptions: se.sundsvall.dept44.exception.ClientProblem
    casedata:
      ignoreExceptions: se.sundsvall.dept44.exception.ClientProblem
    templating:
      ignoreExceptions: se.sundsvall.dept44.exception.ClientProblem
    messaging:
      ignoreExceptions: se.sundsvall.dept44.exception.ClientProblem
    citizen:
      ignoreExceptions: se.sundsvall.dept44.exception.ClientProblem
    businessrules:
      ignoreExceptions: se.sundsvall.dept44.exception.ClientProblem
    rpa:
      ignoreExceptions: se.sundsvall.dept44.exception.ClientProblem
    partyassets:
      ignoreExceptions: se.sundsvall.dept44.exception.ClientProblem
    support-management:
      ignoreExceptions: se.sundsvall.dept44.exception.ClientProblem
      
#----------------------------------------
# Text properties
#----------------------------------------
texts:
  commons:
    2281:
      organization-number: 2120002411
      department: SBK(Gatuavdelningen, Trafiksektionen)
      contact-info-email: sundsvalls.kommun@sundsvall.se
      contact-info-phonenumber: +46 60 191000
      contact-info-text: Kontakta oss via epost eller telefon.
      contact-info-url: https://sundsvall.se/
      filename: beslut.pdf
    2260:
      organization-number: 2120002387
      department: Ånge kommun
      contact-info-email: ange@ange.se
      contact-info-phonenumber: +46 690 250100
      contact-info-text: Kontakta oss via epost eller telefon.
      contact-info-url: https://invanare.ange.se/
      filename: beslut.pdf
  approvals:
    2281:
      description: Personen är folkbokförd i Sundsvalls kommun. Rekommenderat beslut är att godkänna ansökan.
      subject: Beslut från Sundsvalls kommun
      htmlBody: |-
        <!doctype html>
          <html lang="sv">
          <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <title>Beslut</title>
          </head>
          <body>
            <p><strong>Hej</strong></p>
            <p>Du har fått ett beslut från Sundsvalls kommun.</p>
            <p>Med vänlig hälsning<br><strong>Sundsvalls kommun</strong></p>
          </body>
        </html>
    2260:
      description: Personen är folkbokförd i Ånge kommun. Rekommenderat beslut är att godkänna ansökan.
      subject: Beslut från Ånge kommun
      htmlBody: |-
        <!doctype html>
          <html lang="sv">
          <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <title>Beslut</title>
          </head>
          <body>
            <p><strong>Hej</strong></p>
            <p>Du har fått ett beslut från Ånge kommun.</p>
            <p>Med vänlig hälsning<br><strong>Ånge kommun</strong></p>
          </body>
        </html>
  denials:
    2281:
      message: Ärendet avskrivs
      subject: Beslut från Sundsvalls kommun
      htmlBody: |-
        <!doctype html>
          <html lang="sv">
          <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <title>Beslut</title>
          </head>
          <body>
            <p><strong>Hej</strong></p>
            <p>Du har fått ett beslut från Sundsvalls kommun.</p>
            <p>Med vänlig hälsning<br><strong>Sundsvalls kommun</strong></p>
          </body>
        </html>
      plainBody: |-
        Hej
        
        Du har fått ett beslut från Sundsvalls kommun.
  
        Med vänlig hälsning
        Sundsvalls kommun
      description: Personen inte folkbokförd i Sundsvalls kommun.
      templateId: sbk.prh.decision.all.rejection.municipality
    2260:
      message: Ärendet avskrivs
      subject: Beslut från Ånge kommun
      htmlBody: |-
        <!doctype html>
          <html lang="sv">
          <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <title>Beslut</title>
          </head>
          <body>
            <p><strong>Hej</strong></p>
            <p>Du har fått ett beslut från Ånge kommun.</p>
            <p>Med vänlig hälsning<br><strong>Ånge kommun</strong></p>
          </body>
        </html>
      plainBody: |-
        Hej
        
        Du har fått ett beslut från Ånge kommun.
        
        Med vänlig hälsning
        Ånge kommun
      description: Personen inte folkbokförd i Ånge kommun.
      templateId: sbk.rph.decision.all.rejection.municipality
  simplified-services:
    2281:
      delay: "P1D"
      message: Kontrollmeddelande för förenklad delgivning
      subject: Kontrollmeddelande för förenklad delgivning
      htmlBody: |-
        <!doctype html>
          <html lang="sv">
          <head>
            <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1" name="viewport">
            <title>Kontrollmeddelande</title>
          </head>
          <body>
            <p><strong>Kontrollmeddelande för förenklad delgivning</strong></p>
            <p>Vi har nyligen delgivit dig ett beslut via brev. Du får nu ett kontrollmeddelande för att säkerställa att du mottagit informationen.</p>
            <p>När det har gått två veckor från det att beslutet skickades anses du blivit delgiven och du har då tre veckor på dig att överklaga beslutet.</p>
            <p>Om du bara fått kontrollmeddelandet men inte själva delgivningen med beslutet måste du kontakta oss via e-post till</p>
            <p><a href="mailto:kontakt@sundsvall.se">kontakt@sundsvall.se</a> eller telefon till 060-19 10 00.</p>
          </body>
        </html>
      plainBody: |-
        Kontrollmeddelande för förenklad delgivning
        
        Vi har nyligen delgivit dig ett beslut via brev. Du får nu ett kontrollmeddelande för att säkerställa att du mottagit informationen.
        När det har gått två veckor från det att beslutet skickades anses du blivit delgiven och du har då tre veckor på dig att överklaga beslutet.
        Om du bara fått kontrollmeddelandet men inte själva delgivningen med beslutet måste du kontakta oss via e-post till
        kontakt@sundsvall.se eller telefon till 060-19 10 00.
    2260:
      delay: "P1D"
      message: Kontrollmeddelande för förenklad delgivning
      subject: Kontrollmeddelande för förenklad delgivning
      htmlBody: |-
        <!doctype html>
          <html lang="sv">
          <head>
            <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1" name="viewport">
            <title>Kontrollmeddelande</title>
          </head>
          <body>
            <p><strong>Kontrollmeddelande för förenklad delgivning</strong></p>
            <p>Vi har nyligen delgivit dig ett beslut via brev. Du får nu ett kontrollmeddelande för att säkerställa att du mottagit informationen.</p>
            <p>När det har gått två veckor från det att beslutet skickades anses du blivit delgiven och du har då tre veckor på dig att överklaga beslutet.</p>
            <p>Om du bara fått kontrollmeddelandet men inte själva delgivningen med beslutet måste du kontakta oss via e-post till</p>
            <p><a href="mailto:ange@ange.se">ange@ange.se</a> eller telefon till 0690-25 01 00.</p>
          </body>
        </html>
      plainBody: |-
        Kontrollmeddelande för förenklad delgivning
        
        Vi har nyligen delgivit dig ett beslut via brev. Du får nu ett kontrollmeddelande för att säkerställa att du mottagit informationen.
        När det har gått två veckor från det att beslutet skickades anses du blivit delgiven och du har då tre veckor på dig att överklaga beslutet.
        Om du bara fått kontrollmeddelandet men inte själva delgivningen med beslutet måste du kontakta oss via e-post till
        ange@ange.se eller telefon till 0690-25 01 00.
